/* Navbar Styling */
.nav-root-container {
  background-color: #fff;

  color: #030303;
}

.nav-search-input {
  background-color: #cdcdc78f;
  color: #313131;
}

/* Home Componet Styling */
.home-img1 {
  display: block;
}
